{% extends 'layout.html' %}

{% block content %}
  <div class="basket">
    <label>장바구니</label>
  {% for item in items %}
    <div class="item"><br><br>
        <label for="item-ISBN">ISBN</label>
        <div class="item-ISBN">{{item.ISBN}}</div><br>
        <label for="item-quantity">주문 수량</label>
        <div class="item-quantity">{{item.quantity}}권</div><br>
        <br><br>
        <form action="/basket/delete" method="post">
            <input type="text" name="item_id" id="item_id" value="{{item.id}}" hidden>
            <button type="submit" class="btn">삭제</button>
        </form>
        <br><br><br><br>
    </div>
  {% endfor %}
  <div class = order>
    <form action="/basket/order" method="post">
        <input type="number" name="basket_no" id="basket_no" value="{{basket.id}}" hidden>
        <label for="card_no">카드번호 선택</label>
        <select name="card_no" id="card_no">
            {% for card in cards %}
                <option value="{{card.card_no}}">{{card.card_no}}</option>
            {% endfor %}
        </select>
        <label for="address_no">주소지 선택</label>
        <select name="address_no" id="address">
            {% for address in addresses %}
                <option value="{{address.shipping_address_no}}">{{address.postal_code}}, {{address.address1}}, {{address.address2}}</option>
            {% endfor %}
        </select>
        <button type="submit">주문하기</button>
    </form>
  </div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}