{% extends 'layout.html' %}

{% block content %}

<div class="book">
    <div class="book_page">
        <div class="book">
            {% if book.img %}
            <div class="book-img"><img src="{{book.img}}" alt="표지"></div><br>
            {% else %}
            <div class="'book-img">표지 이미지 없음</div><br>
            {% endif %}
            <label for="ISBN">ISBN</label>
            <div class="ISBN">{{book.ISBN}}</div><br>
            <label for="book-name">책 이름</label>
            <div class="book-name">{{book.book_name}}</div><br>
            <label for="list-price">정가</label>
            <div class="list-price">{{book.list_price}}</div><br>
            <label for="book-stock">재고</label>
            <div class="book-stock">{{book.book_stock}}</div><br>
            <label for="category">분류</label>
            <div class="category">{{book.category}}</div><br>
            <label for="publisher">출판사</label>
            <div class="publisher">{{book.publisher}}</div><br>
            <label for="publish-date">출판일</label>
            <div class="publish-date">{{book.publish_date}}</div><br>
            <label for="writer">저자</label>
            <div class="writer">{{book.book_writer}}</div><br><br><br>
            <br>
            <form action="/basket" method="post">
                <input type="text" name="ISBN" id="ISBN" value="{{book.ISBN}}" hidden>
                <input type="text" name="event_yn" value="{{event}}" hidden>
                <label for="quantity">구매 희망 수량</label>
                <input type="number" name="quantity" value="1" min="1" max="{{book.book_stock}}"
                    onkeyup="numCheck(this); characterCheck(this)" onkeydown="numCheck(this); characterCheck(this)">
                <button type="submit" class="btn">주문하기</button>
            </form>

            <br><br><br><br><br><br>
            <form action="/book/delete" method="post">
                <input type="text" name="ISBN" id="ISBN" value="{{book.ISBN}}" hidden>
                <button type="submit" class="btn">도서 삭제</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    window.onload = () => {
        console.log(location.href);
        if (new URL(location.href).searchParams.get('quantityError')) {
            alert('수량을 입력해주세요.(1 ~ )');
        }
    };

    const characterCheck = (obj) => {
        let regExp = /[ \{\}\[\]\/?.,;:|\)*~`!^\-_+┼<>@\#$%&\'\"\\\(\=]/gi;
        if (regExp.test(obj.value)) {
            alert("특수문자는 입력하실수 없습니다.");
            obj.value = obj.value.substring(0, obj.value.length - 1); // 입력한 특수문자 한자리 지움
        }
    };

    const numCheck = (obj) => {
        if (isNaN(obj.value)) {
            alert("숫자만 입력 가능합니다.");
            obj.value = obj.value.substring(0, obj.value.length - 1);
        }
    }
</script>
{% endblock %}