{% extends 'layout.html' %}

{% block content %}
    <div class="grid-container">
        <div class="cell-header">
          <h1>{{title}}</h1>
        </div>
        <div class="cell-aside">
            <h2>출판사 페이지</h2>
            <a href="">
                <h3>도서판매통계</h3>
            </a> <br><br>
            <a href="">이벤트 / 광고통계</a> <br><br>
            <a href="">이벤트 / 광고신청</a> <br><br>
          </div>
          
          <div class="cell-content">
            <h2>이벤트 / 광고 관리</h2>
            {% for event in event_commercials}
                <a href="admin/management/{{event.reception_no}}">{{event.title}}</a>
                <br>
            {% endfor %}
          </div>

          <!-- <p>this is footer</p> -->
        </div>
      </div>
{% endblock %}