{% extends 'layout.html' %}

{% block content %}
    <div class="grid-container">
        <div class="cell-header">
          <h1>{{title}}</h1>
        </div>
        <div class="cell-aside">
            <h2>이벤트</h2>
            <a href="/event/list/notEnd">진행중인 이벤트</a> <br><br>
            <a href="/event/list/end">종료된 이벤트</a> <br><br>
          </div>
          
          <div class="cell-content">
            <h3>{{event.title}}</h3>
            <img src="{{event.description_img}}" alt="이벤트 설명 이미지">
            <p>{{event.content}}</p>
            {% if event.commercial_event_status == 1 %}
            {% if event.benefit_condition_book == 1 %}
            <a href="/book/page/{{event.ISBN}}/1">도서 구매하러 가기</a>
            {% else %}
            <form action="/event" method="post">
              <input type="text" name="reception_no" value="{{event.reception_no}}" hidden>
              <button type="submit">이벤트 참여하기</button>
            </form>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
{% endblock %}