{% extends 'layout.html' %}

{% block content %}
<div class="grid-container">
    <div class="cell-header">
        <h1>{{title}}</h1>
    </div>
    <div class="cell-aside">
        <h2>출판사 페이지</h2>
        <a href="">
            <h3>도서판매통계</h3>
        </a> <br><br>
        <a href="">이벤트 / 광고통계</a> <br><br>
        <a href="">이벤트 / 광고신청</a> <br><br>
    </div>

    <div class="cell-content">
        <h2>이벤트 / 광고 신청</h2>
        <form action="/admin/event_reception" method="post">
            <div style="float: left; width: 150px;">
                <label for="event_type">이벤트 / 광고 유형 *</label>
            </div>
            <div style="float: none">
                <select name="commercial_event_status">
                    <option value="1">이벤트</option>
                    <option value="2">광고</option>
                </select><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="event_type">게시 유형 *</label>
            </div>
            <div style="float: none">
                <select name="post_type">
                    <option value="1">배너 + 설명 이미지</option>
                    <option value="2">배너 + 설명 + 팝업 이미지</option>
                </select><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="title">제목 *</label>
            </div>
            <div style="float: none">
                <input name="title" placeholder="제목을 입력해주세요."><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="content">내용 *</label>
            </div>
            <div style="float: none">
                <input name="content" placeholder="내용을 입력해주세요."><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="banner_img">배너 이미지 *</label>
            </div>
            <div style="float: none">
                <input name="banner_img" placeholder="배너 이미지 링크 삽입"><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="description_img">설명 이미지 *</label>
            </div>
            <div style="float: none">
                <input name="description_img" placeholder="설명 이미지 링크 삽입"><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="popup_img">팝업 이미지</label>
            </div>
            <div style="float: none">
                <input name="popup_img" placeholder="팝업 이미지 링크 삽입"><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="start_date">시작일 *</label>
            </div>
            <div style="float: none">
                <input type="date" name="start_date" placeholder="시작일"><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="end_date">마침일 *</label>
            </div>
            <div style="float: none">
                <input type="date" name="end_date" placeholder="마침일"><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="drawing_date">추첨일</label>
            </div>
            <div style="float: none">
                <input type="date" name="drawing_date" placeholder="추첨일"><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="ISBN">대상 도서</label>
            </div>
            <div style="float: none">
                <input name="ISBN" placeholder="대상 도서"><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="benefit_condition_book">혜택 조건(도서구매)</label>
            </div>
            <div style="float: none">
                <select name="benefit_condition_book">
                    <option value="1">도서구매 필수</option>
                    <option value="0">도서구매 필수 아님</option>
                </select><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="benefit_apply">혜택 응모 여부</label>
            </div>
            <div style="float: none">
                <select name="benefit_apply">
                    <option value="1">혜택 응모</option>
                    <option value="0">혜택 응모 아님</option>
                </select><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="answer_yn">답 필요 여부</label>
            </div>
            <div style="float: none">
                <select name="answer_yn">
                    <option value="1">답 필요함</option>
                    <option value="0">답 필요없음</option>
                </select><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="benefit_type">혜택 유형</label>
            </div>
            <div style="float: none">
                <select name="benefit_type">
                    <option value="1">포인트</option>
                    <option value="2">사은품</option>
                    <option value="3">기타</option>
                </select><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="total_quantity">총 수량</label>
            </div>
            <div style="float: none">
                <input type="number" name="total_quantity" placeholder="혜택 수령 가능한 인원 수"><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="event_question">이벤트 문제</label>
            </div>
            <div style="float: none">
                <input name="event_question" placeholder="이벤트 문제"><br><br>
            </div>
            <div style="float: left; width: 150px;">
                <label for="event_answer">이벤트 정답</label>
            </div>
            <div style="float: none">
                <input name="event_answer" placeholder="이벤트 문제 답"><br><br>
            </div>
            <button type="submit" class="btn">제출</button>
        </form>
    </div>
    </form>
    <table>

    </table> <br><br>
</div>


</div>
</div>
{% endblock %}