{% extends 'layout.html' %}

{% block content %}
<div class="grid-container">
  <div class="cell-header">
    <h1>{{title}}</h1>
  </div>
  <div class="cell-aside">
    <h2>관리자 페이지</h2>
    <a href="">FAQ & 공지사항 관리</a> <br><br>
    <a href="">이벤트 / 광고통계</a> <br><br>
    <a href="">이벤트 / 광고신청</a> <br><br>
    <a href="">이벤트 / 광고통계</a> <br><br>
    <h3>이벤트 / 광고 관리</h3>
  </div>

  <div class="cell-content">
    <h2>이벤트 참가 내용</h2>

    <h3>ID : {{participate.id}}</h3>

    <p>응모 내용</p>
    <h3>{{participate.user_answer}}</h3>
    <br><br><br><br><br>
    {% if user.id_type == 3 %}
    <form action="publisher/event/participants" method="post">
      <input type="text" name="reception_no" id="reception_no" value="{{participate.reception_no}}" hidden>
      <input type="text" name="id" id="id" value="{{participate.id}}" hidden>
      <button type="submit">선정하기</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}