{% extends 'layout.html' %}

{% block content %}
    <div class="grid-container">
        <div class="cell-header">
            <h1>{{title}}</h1>
        </div>
        <div class="cell-aside">
            <h2>출판사 페이지</h2>
            <a href="">FAQ & 공지사항 관리</a> <br><br>
            <a href="">1:1문의 관리</a> <br><br>
            <a href="">베스트셀러 관리</a> <br><br>
            <a href="">수익 통계</a> <br><br>
            <h3>이벤트 / 광고 관리</h3>
        </div>

        <div class="cell-content">
            <h2>이벤트 / 광고 관리</h2>
            {% for event in events %}
            <a href="/publisher/event/tally/{{event.reception_no}}">
                {{event.title}}, {{event.start_date}},
                {{event.end_date}},
                {% if event.status == 1 %}
                진행중
                {% else %}
                종료
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}