<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <div class="logo">
            <h3 class="main-logo">스퀘어북</h3>
            <p class="semi-logo">Square Book</p>
        </div>

        <div class="search-box">
            <form action="/book" method="post">
                <input name="book_name" class="bar" type="text" placeholder="검색어를 입력해주세요.">
                <button class="search-btn">검색</button>
            </form>
            
        </div>

        <div class="font-bundle-1">
            {% if user and user.id %}
            <a id="my-page" href="/my_page" class="my-page">마이페이지</a>
            <a id="logout" href="/auth/logout" class="login">로그아웃</a>
            {% else %}
            <a class="sign-up" href="/join">회원가입</a>
            <a class="login" href="/login">로그인</a>
            {% endif %}
            <a class="customer-service">고객센터</a>
            <a class="shopping-cart" href="/basket">장바구니</a>
        </div>

        <div class="font-bundle-2">
            <a class="bestseller">베스트셀러</a>
            <a class="book-category">도서 카테고리</a>
            <a class="event">이벤트</a>
            <a class="notice">공지사항</a>
        </div>
    </header>
    <!-- nunjucks import -->
    {% block content %}
    {% endblock %}
</body>

</html>