<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          {% if user and user.id %}
            <div class="user-name">{{'안녕하세요! ' + user.name + '님'}}</div>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <a id="my-page" href="/my_page" class="btn">마이페이지</a>
          <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
          <a href="/basket" class="btn">장바구니</a>
        {% else %}
        <a id="join" href="/join" class="btn">회원가입</a>
        <a id="login" href="/login" class="btn">로그인</a>
        {% endif %}
        <br>
        </div>
        <div class="book">
          <form id="book-form" action="/book" method="post">
            <label>검색</label>
            <input type="text" name="book_name" placeholder="책 이름" onkeyup="characterCheck(this)" onkeydown="characterCheck(this)">
            <button class="btn">검색</button>
          </form><br><br>
        <a href="/" class="btn">Home</a>
        {% if user.id_type == 1 %}
        <a href="/book_register" class="btn">도서 등록</a>
        <a href="/publisher/register" class="btn">출판사 등록</a>
        {% endif %}
      </div><br><br>
      {% block content %}
      {% endblock %}
        <footer>
          <h2>20181530 박찬욱</h2>
        </footer>
    </div>
    {% block script %}
    {% endblock %}
  </body>
</html>
