{% extends 'layout.html' %}

{% block content %}
<div class="grid-container">
  <div class="grid-aside"></div>
  <div class="grid-content">
    {% for event in events %}
    <a href="/event/{{event.reception_no}}">
      <h3>{{event.title}}</h3>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block script %}
{% for popup in popups %}
<script>
  window.onload = () => {
    window.open("https://localhost:3000/popup/{{popup.reception_no}}", width = 800, length = 600)
  }
</script>
{% endfor %}
<script>
</script>
{% endblock %}