{% extends 'layout.html' %}

{% block content %}
<div class="grid-container">
  <div class="grid-content">
    {% for best_seller in best_sellers_w %}
    {% endfor %}
    {% for best_seller in best_sellers_m %}
    {% endfor %}
    {% for event in events %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block script %}
{% for popup in popups %}
<script>
  window.onload = () => {
    window.open("https://localhost:3000/popup/{{popup.reception_no}}", width = 800, length = 600)
  }
</script>
{% endfor %}
<script>
</script>
{% endblock %}