{% extends 'layout.html' %}

{% block content %}
<div class="grid-container">
    <div class="cell-header">
        <h1>{{title}}</h1>
    </div>
    <div class="cell-aside">
    </div>

    <div class="cell-content">
        <h2>내가 참여한 이벤트</h2><br>
        {% for event in events %}
        <a href="/event/{{event.reception_no}}">
            <h3>{{event.reception_no}}</h3>
        </a>
        <p>수혜 여부</p>
        <p>{{event.benefit_status}}</p>
        <p>참여일자</p>
        <p>{{event.participate_date}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}